body {
	font-family: Garamond;
	font-size: 16px;
	background-color: darkolivegreen;
}
table {
	text-align: center; 
	border-collapse: collapse;
	font-size: 15px;
}
td {
	border: solid 1px darkolivegreen; 
	padding: 10px;
}
th { 
	padding: 10px;
	background-color: darkolivegreen;
	border: solid 1px darkolivegreen;
	text-align: center;
	color: white;
}
h2 {
	background-color: #c6d8a6;
	padding: 20px 40px;
}
hr {
	border: 0px;
	height: 1px;
	background-image: linear-gradient(to right, #c6d8a6, darkolivegreen, #c6d8a6);
	width: 40%; 
	margin-bottom: 25px; 
}
#main-contents {
    background-color: white;
    padding: 50px 0px;
}
.reference {
	font-style: italic;
}
.contents {
	margin: 25px 50px; 
}
.table-shades tr:nth-child(even) {
	background-color: #e0f2ca
}
.side-color {
	background-color: darkolivegreen;
}