body {
	font-family: Garamond;
	font-size: 16px;
	background-color: darkolivegreen;
}
table {
	text-align: center; 
	border-collapse: collapse;
	font-size: 15px;
}
td, th {
	border: solid 1px darkolivegreen !important;
	padding: 10px;
}
th { 
	background-color: darkolivegreen;
	text-align: center;
	color: white;
}
h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 3.5em;
    padding: 0px 5%;
}
h2 {
	background-color: #c6d8a6;
	padding: 20px 4%;
}
hr {
	border: 0px;
	height: 1px;
	background-image: linear-gradient(to right, #c6d8a6, darkolivegreen, #c6d8a6);
	width: 40%; 
	margin-bottom: 25px; 
}
#contents-main {
    background-color: white;
    padding: 30px 0px;
}
#contents-main > div {
	margin: 25px 4%;
}
.verse {
    font-size: 1.4em;
    padding: 0px 10%;
}
.reference {
    text-align: right;
    color: #999;
    padding: 0px 10%;
}
.table-shades tr:nth-child(even) {
	background-color: #e0f2ca
}
.side-color {
	background-color: darkolivegreen;
}